asgiref==3.7.2
async-timeout==4.0.2
bcrypt==4.0.1
bidict==0.22.1
blinker==1.6.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.3
colorama==0.4.6
cryptography==41.0.3
Deprecated==1.2.14
docopt-ng==0.8.1
Flask==2.3.2
Flask-Cors==3.0.10
flask-redis==0.4.0
Flask-SocketIO==5.3.5
gdtoolkit==4.1.0
geographiclib==2.0
geopy==2.3.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
lark==1.1.5
mando==0.7.1
MarkupSafe==2.1.2
mysql-connector-python==8.0.33
packaging==23.1
pika==1.3.2
pika-stubs==0.1.3
protobuf==4.24.3
pycparser==2.21
PyJWT==2.8.0
pyOpenSSL==23.2.0
python-engineio==4.5.1
python-logging-loki==0.3.1
python-socketio==5.8.0
PyYAML==6.0.1
radon==6.0.1
redis==5.0.0
regex==2023.8.8
requests==2.31.0
rfc3339==6.2
six==1.16.0
sv-ttk==2.5.5
typing_extensions==4.7.1
urllib3==2.0.4
waitress==2.1.2
Werkzeug==2.3.4
wrapt==1.15.0
